html{
    padding: 15vh;
    background-color: rosybrown;
}
body{
    text-align: center;
    margin: 16vh;
    background-color: lightskyblue ;
}
input{
    background-color: darkseagreen;

}
h2{
    color: red;
}
p{
    font-size: 2.5vh;
}
